body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}
form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
